<html>
<body>
    <h1>Welcome to C++ online compiler(alpha build)</h1>
    <form action="/compile" method="POST" >
        
        <textarea name="code" id="code-box" value="Enter code here"></textarea><br>
        <button  id="output-button" type="submit">Compile</button>
    </form>

    <!-- <div id="output"><b>OUTPUT:</b> 
        <p id="output-box">Please compile to show output</p>
    </div> -->
    <br>
    Reach me out at: github.com/Harmonpreet012

</body>
</html>
<style>
    #code-box
    {
        height:40%;
        width:40%;
    }
    #output
    {
        border: 1px solid black;
        margin-left: 20%;
        margin-right: 20%;
    }
    #output-button
    {
        margin-left: 30%;
        
    }
</style>